@if (IsVisible)
{
  <div class="modal fade show d-block" id="genericModal" tabindex="-1" aria-labelledby="genericModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="genericModalLabel">@Title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          @Content
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">@ActionText</button>
        </div>
      </div>
    </div>
  </div>
}

@code {
  [Parameter]
  public string Title { get; set; } = string.Empty;
  [Parameter]
  public string Content { get; set; } = string.Empty;
  [Parameter]
  public string ActionText { get; set; } = string.Empty;

  [Parameter]
  public bool IsVisible { get; set; }
  [Parameter]
  public EventCallback<bool> IsVisibleChanged { get; set; }

  private async Task Close()
  {
    await IsVisibleChanged.InvokeAsync();
  }

}