@if (IsLoading)
{
    <div class="fixed inset-0 flex items-center justify-center bg-black/30 z-50">
        <div class="animate-spin rounded-full h-12 w-12 border-4 border-white border-t-transparent"></div>
    </div>
}

@code {
    [Parameter] public bool IsLoading { get; set; }
}