<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css" rel="stylesheet" />

    <link id="pagestyle" href="assets/css/argon-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="First.Ecard.Presentation.UI.styles.css" />
    <link rel="icon" type="image/png" href="logo.png" />
    <HeadOutlet />
</head>

<body class="g-sidenav-show bg-gray-100">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
