<div class="card">
    <div class="card-header mx-4 p-3 text-center">
        <div class="icon icon-shape bg-gradient-warning shadow-danger text-center rounded-circle">
            <i class="fas fa-landmark opacity-10"></i>
        </div>
    </div>
    <div class="card-body pt-0 p-3 text-center">
        <h6 class="text-center text-secondary mb-0">@Title</h6>
        <hr class="horizontal dark my-3">
        <h5 class="mb-0">@Value</h5>
    </div>
</div>

@code {
    [Parameter]
    public string? Title {get; set;}

    [Parameter]
    public string? Value {get; set;}
}