@inherits LayoutComponentBase

<div class="min-height-300 bg-dark position-absolute w-100"></div>
<AsideBar></AsideBar>
<main class="main-content position-relative border-radius-lg ">
    <NavMenu></NavMenu>
    @Body
</main>