#parent[b-ir5f11hwfo] {
    position: relative;
    height: 100vh;
    width: 100%;
}

#loader-grow[b-ir5f11hwfo] {
    position: absolute;
    top: 30%;
    height: 60px;
    width: 60px;
    left: 50%;
    color: rgb(251, 211, 136);
}